# Mevcut kütüphanelerin
fastapi
uvicorn[standard]
python-multipart
sqlalchemy
passlib[bcrypt]
bcrypt==4.0.1
psycopg2-binary
python-jose[cryptography]
gunicorn

# --- PDF İşleme İçin Şart (fitz hatası almamak için) ---
pymupdf

# --- Gemini API (NLP Asistanındaki yeni yapı) ---
google-genai

# --- Veri Birleştirme (Ağ analizlerini weight'e göre toplamak için) ---
pandas
